{% extends "layout.html" %}

{%block title%}
Buy
{% endblock %}

{% block main %}
    <h1>Buy Shares</h1>
    <br>
    <form action="/buy" method="post">
        <div class="mb-3">
            <input type="text" name="symbol" id="symbol" placeholder="Symbol" autocomplete="off" autofocus class="form-control mx-auto w-auto">
        </div>
        <div class="mb-3">
            <input type="text" name="shares" id="shares" placeholder="Shares" autocomplete="off" autofocus class="form-control mx-auto w-auto">
        </div>
        <button class="btn btn-primary" type="submit">Submit Purchase</button>
    </form>
{% endblock %}
