{% extends "layout.html" %}

{%block title%}
Sell Shares
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <Select autofocus class="form-control" id="symbol" name="symbol">
                <option value="">Select a Stock</option>
                {% for stock in stocks %}
                    <option value="{{ stock.symbol }}">{{ stock.name }} ({{stock.symbol}})</option>
                {% endfor %}
            </Select>
        </div>
        <div class="mb-3">
            <input class="form-control" id="shares" name="shares" placeholder="Number of Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
